body, html {
	font-family: "Roboto", sans-serif;
}

// everything in note

p {
	margin: 0;
	padding: 0;
}

#note {
	background-color: #d2e3fe;
	position: absolute;
	display: inline-block;
	padding: 8px;
}

.drag:hover {
	cursor: move;
}

textarea {
	width: 100%;
	margin-bottom: 0px;
}